# VSIX extension files
*.vsix

# podman build artifacts (opcional, descomenta si no quieres trackear)
# Dockerfile.local

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

